._a3gq .page-center {
   width: 100%;
   max-width: 80vw;
   margin: 0 auto;
}

@media screen and (max-width: 768px) {
   ._a3gq .page-center {
      max-width: 100%;
   }
}

._a3gq .formPage {
   border-bottom: 1px solid rgba(var(--primary-colorRGB), 0.05);
   border-bottom: 1px solid #d8d8d8c4;
   box-shadow: 0 0 5px rgba(var(--primary-colorRGB), 0.2);
}
